// 'hippie-blue': {
//     '50': '#f2f8f9',
//     '100': '#ddebf0',
//     '200': '#bfd9e2',
//     '300': '#93bdcd',
//     '400': '#659db3',
//     '500': '#447e96',
//     '600': '#3b687f',
//     '700': '#355669',
//     '800': '#324958',
//     '900': '#2d3e4c',
//     '950': '#1a2732',
// },


$color-primary : #bfd9e2;
$color-secondary : #3b687f;
$color-tertiary : #324958;
$text-color : #1a2732;
$gradient-color : linear-gradient(140deg, rgba(147,189,205,1) 0%, rgba(59,104,127,1) 100%);


